
  <style type="text/css">
    .titulo{
      position: relative;
      color:rgba(255,255,255,0.6);
      font-size: 1vw;
      font-family: SourceSansPro Regular, helvetica, arial, sans-serif;
      text-transform: uppercase;
      width:100%;
    }

    .tile{ padding:1.4vw; padding-left:2vw; }

    .info{
      color:rgba(255,255,255,0.4);
      font-size: 0.8vw;
      font-family: SourceSansPro Regular, helvetica, arial, sans-serif;
      text-transform: uppercase;
      width:100%;
      margin-bottom: 0.4vw;

      
    }

    .grande{
      color:rgba(255,255,255,0.4);
      font-size: 3.5vw;
      font-family: SourceSansPro Regular, helvetica, arial, sans-serif;
      text-transform: uppercase;
      margin-top:1.5vw;
      margin-bottom:0.4vw;
      
    }
 
  </style>
    

    

        
           <div class="titulo">Base de datos</div>

           <div class="grande"><div class="fa fa-newspaper-o"></div> [onshow.cantMedios]</div>
           <div class="info">Medios monitoreados</div>
           
           <div class="grande"><div class="fa fa-microphone"></div> [onshow.numRows]</div>
           <div class="info">Noticias almacenadas</div>

           <div class="grande"><div class="fa fa-database"></div> [onshow.DBsize]</div>
           <div class="info">[onshow.DBpath]</div>
           <div class="info">[onshow.modificada]</div>
          