
<style type="text/css">
	


.contenedor{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	padding:0px;
	margin: 0px;
	/*--------------*/
	padding-top:5px;
	font-family: monserrat-semibold, sans-serif;

}	






.titulo{
	color:white;
	font-size:12px;
	width:100%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
	position:absolute;
	left:0px;
	top:10px;
}

#humor{
	color: [onshow.colorhumor;strconv=no];
	font-family: monserrat-semibold, sans-serif;
	width:100%;
	position: absolute;
	left:0px;
	top:50%;
	text-align: center;
	transform: translateY(-50%);
	font-size: 34px;
}


</style>


<div class="contenedor" >

  <div class="titulo">HUMOR SOBRE LA GESTION</div>

  <div id='humor' >[onshow.humor;strconv=no]</div>
  




</div>



