
<style type="text/css">
	


.contenedor{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	padding:0px;
	margin: 0px;
	/*--------------*/
	padding-top:5px;
	font-family: monserrat-semibold, sans-serif;

}	






.titulo{
	color:white;
	font-size:12px;
	width:100%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
	position:absolute;
	left:0px;
	top:10px;
}

.renglonneg{
	color: #ff0000;
	font-family: monserrat-semibold, sans-serif;
	width:85%;
	transform: translateY(-50%);
	font-size: 18px;
	margin: 0 auto;
}




</style>


<div class="contenedor" >

  <div class="titulo">POLARIZACION NEGATIVA</div>

 <div class="lista">
	 <loop1>   
	 [bloque1;block=loop1]
	    <div class='renglonneg'>
	      <div class="medio">[bloque1.key;strconv=no]</div>
	      <div class="valor">[bloque1.val;strconv=no]%</div>

	    </div>
	     
	 </loop1>

</div>



</div>



